body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="number"] {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#error-message {
    color: red;
}

#success-message {
    color: green;
}
